*{
    margin:0px;
    border: 0px;
    padding:0px;
    box-sizing: border-box;
}

#container{
}

#header{
    background-color:#331c1f;
    color:white;
}

.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.Logo 
{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img{
    height:34px;
    width: 120px;
}

h1{
    text-align: center;
    padding:10px;
}

.LienHe{
    float: right;
    display: flex;
}

.Phone{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    margin: 0 8px;
}

.Phone :hover,.Gmail :hover{
    color:#dddfe2;
}

.Phone i{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color:white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin:5px;
}

.Phone p{
    color:white;
    font-size: 18px;
}

.Gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    margin: 0 18px;
}

.Gmail i{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color:white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin:5px;
}

.Gmail p{
    color:white;
    font-size: 18px;
}

.Mau{
    animation: colorBackground 10s infinite;
    -webkit-animation: colorBackground 5s infinite;
    -moz-animation: colorBackground 5s infinite;
    -o-animation: colorBackground 5s infinite;
    animation-delay:10s;
}

@keyframes colorBackground {
    0% {
        color: rgb(0, 165, 0);
    }

    25%{
        color:green;
    }
    
    50%{
        color:rgb(0, 95, 0);
    }
    
    75%{
        color:rgb(0, 53, 0);
    }

    100% {
        color: black;
    }
}

#content{
    margin-left: 10px;

    /* height:100%; */
    width: 1050px;
    margin: auto;
}

.Menu{
    /* height:100%; */
    width:180px;
    position:fixed;
    top:150px;
    /* left:125px; */
    left:0px;
    list-style-type: none;
    border: 1px solid #dddfe2;
}

.TrangChu{
    font-weight:600;

}

.Menu>ul>a>li{
    text-align: center;
    font-size:20px;
    padding: 10px;
}

.Menu>ul>a :hover{
    color:#C0C906;
    font-weight: 550;
}

.Menu>ul>a{
    text-decoration: none;
    color:black;
}

.ThongTinChung{
    margin: 50px;
    display:flex;
}

.Anh{
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    width:34%;
    margin: 0 25px;
}

.Anh>img{
    width:100%;
    height:100%;
    padding:10px;
}

.ThongTin{
    width:66%;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    padding: 10px;
}


hr{
    border: 0.5px solid #dddfe2;
}

.ThongTin>h2{
    margin-top: 10px;
    text-align: center;
}

.ThanhPhan{
    font-size: 18px;
}

.CoTheBanThich{
    text-align: center;
}

.CoTheBanThich>h2{
    font-size: 32px;
    color: #C0C906;
}

.CoTheBanThich>h3{
    font-size: 18px;
}

.Hang{
    display: flex;
    justify-content:center;
}

.SanPham{
    width:310px;
    height: 330px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    margin: 25px;
}

.SanPham:hover{
    box-shadow: 3px 3px 8px 0 rgb(0 0 0 / 25%);
}

.SanPham :hover .Gia{
    transform: scale(1.2);
    color:#C0C906;
}

.SanPham>a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.Ten{
    margin-top: 13px;
    font-size:18px;
    text-transform: capitalize;
    text-align: center;
}

.Ten:hover{
    color:#C0C906;
}

.Gia{
    display: inline;
    color:back;
    font-size: 20px;
}

.Gia>strong::after{
    content: "VNÄ";
}

figure {
    width:310px;
    height:233px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    object-fit: cover;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

figure img {
    width:310px;
    height:233px;
    /* k vo anh */
    object-fit: cover;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#footer{
    background-color:#331c1f;
    color:white;
    padding: 10px;
    font-size:18px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.GioiThieuBanThan{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.GioiThieuBanThan>ul{
    list-style-type: none;
}

.AnhChanDung{
    margin-right: 200px;
}

.AnhChanDung img{
    width: 80px;
    object-fit: cover;
    border-radius:50%
}


.DanhSachSanPhamHoanThanh{
    margin-top:50px;
}

.SanPhamHoanThanh>ul{
    list-style-type: none;
}

.Icon{
    font-size:39px;

}

.SanPhamHoanThanh ul li a img{
    width:50px;
    height:50px;
    display: inline;
}

.SanPhamHoanThanh ul li{
    display: flex;
    align-items:center;
}