<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('Home')"></head>
<body>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: topmenu"></div>

        <h1 style="text-align:center">Danh sách ứng tuyển thư ký</h1>

        <div th:fragment="table" class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee :${employees}">
                    <td><a th:href="@{/{id}(id=${employee.id})}"><strong th:text="${employee.id}"></strong></a></td>
                    <td><img width="200px" height="250px" style="image-rendering: pixelated;object-fit: cover;"
                             th:src="@{/photos/{photo}(photo = ${employee.photoName})}" alt=""></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<footer th:replace="template.html :: footer"></footer>
</html>