<!DOCTYPE html>
<html lang="en">
<head th:replace= "template.html :: header('Edit Car')">
</head>
<body>

<div class="container">
  <div class="row">
    <div th:insert = "template.html :: topmenu"></div>
    <div class="col-12">
      <form action="#" th:action="@{/car/edit/{id}}" th:object="${car}" method="post">
        <input type="text" placeholder="Nhap id" th:field="*{id}" /><br><br>
        <input type="text" placeholder="Nhap model" th:field="*{model}" /><br><br>
        <input type="text" placeholder="Nhap manufacturer" th:field="*{manufacturer}" /><br><br>
        <input type="text" placeholder="Nhap price" th:field="*{price}" /><br><br>
        <input type="text" placeholder="Nhap sales" th:field="*{sales}" /><br><br>
        <input type="text" placeholder="Nhap photo" th:field="*{photo}" /><br><br>
        <button type="submit">Edit car</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>