*{
    margin:0px;
    border: 0px;
    padding:0px;
    box-sizing: border-box;
}

#container{
    height:100%;
    width: 1050px;
    margin: auto;
}

#header{
}

h1{
    margin:10px;
    text-align: center;
}

hr{
    border: 0.5px solid #dddfe2;
}

#content{
    margin-left: 10px;
}

.Menu{
    width:180px;
    /* height:100%; */
    position:fixed;
    top:58px;
    left:3px;
    list-style-type: none;
    border: 1px solid #dddfe2;
}

.Menu>ul>li{
    font-weight:600;
}

.Menu>ul>a>li,.Menu>ul>li{
    text-align: center;
    font-size:20px;
    padding: 10px;
}

.Menu>ul>a{
    text-decoration: none;
    color:black;
}

.Banh{
    margin-top:20px;
}

.Banh>h2{
    margin-bottom:15px;
}

.GioiThieu{
    font-size:18px;
}

.Hang{
    display: flex;
    justify-content:center;
}

.SanPham{
    width:310px;
    height: 330px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);

    margin: 25px;
}

.SanPham:hover{
    box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 25%);
}

.SanPham>a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.Ten{
    margin-top: 13px;
    font-size:18px;
    text-transform: capitalize;
    text-align: center;
}

.Ten:hover{
    color:green;
}

.Gia{
    display: inline;
    color:red;
    font-size: 20px;
}

.Gia:hover{
    transform: scale(1.2);
}

.SanPham>a>img{
    width:310px;
    height:233px;
    /* padding:5px; */
    /* k vo anh */
    object-fit: cover;
}

.SanPham>a :hover .SanPham>a>img{
    
}

.Gia>strong::after{
    content: "VNÄ";
}

#footer{

}