<!DOCTYPE html>
<html lang="en">
<head th:replace = "template.html :: header('Get Car')">
</head>
<body>
<div class="container">
    <div class="row">
        <div th:insert = "template.html :: topmenu"></div>
        <div th:fragment="table" class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Model</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sales</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${car.id}"></td>
                    <td><a th:href="@{/car/{id}(id=${car.id})}"><img width="150px" height="150px" style="image-rendering: pixelated;object-fit: contain;" th:src="*{car.photo}" alt=""></a></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.manufacturer}"></td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.sales}"></td>
                    <td><a th:href="@{/car/edit/{id}(id=${car.id})}">Edit</a> / <a th:href="@{/car/delete/{id}(id=${car.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>